<style>
body { background-color: #E6E6FA;
     color: #191970;
     font-family: Arial, Verdana, sans-serif; }
h1 { background-color: #191970;   
     color: #E6E6FA;
     line-height: 200%;
     font-family: Georgia, "Times New Roman", serif; }
h2 { background-color: #AEAED4;
     color: #191970; text-align: center;
     font-family:  Georgia, "Times New Roman", serif; }
p {font-weight: bold; text-indent: 3em; color: #191970}
ul {color: #191970;
	font-weight: bold; }
ol {color: #191970;
	font-weight: bold; }
</style>
